* {
    padding: 0;
    margin: 0;
}
#content {
    min-width: 900px;
    margin: 100px;
    border: solid 1px grey;
    border-radius: 30px;
    padding-bottom: 50px;
    -webkit-box-shadow: 0px 0px 160px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 160px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 160px -12px rgba(0,0,0,0.75);
}
#panel {
    padding: 15px;
}
#navbar {
    width: 100%;
    height: 50px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #d6d6d6;
}
/*
    Навигационная панель
*/
#navbar li {
    text-align: center;
    width: 23.2%;
    height: 100%;
    float:left;
    position:relative;
    display:block;
    border-bottom: solid 1px #000000;
    font-size: 17pt;
}
#navbar .left_button {
    border-top-left-radius: 30px;
}
#navbar .rigth_button {
    border-top-right-radius: 30px;
    border-right: none;
}
#navbar .active{
    background-color: #ffffff;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    width: 30%;
    border-bottom: none;
}
#navbar li a{
    border-radius: 10px;
    display:block;
    padding: 10px;
    color: #000000;
    text-decoration:none;
    height: 100%;
}
#navbar li a:hover {
    color: red;
    opacity: 0.6;
}
/*
    Панель добавления новостей
*/
#panel {
    margin: 15px;
    -webkit-box-shadow: inset 0px 0px 166px 1px rgba(191,255,217,1);
    -moz-box-shadow: inset 0px 0px 166px 1px rgba(191,255,217,1);
    box-shadow: inset 0px 0px 166px 1px rgba(191,255,217,1);
}
#panel h3 {
     text-align: left;
 }
#panel table {
    width: 100%;
}
#panel ul {
    list-style-type: none;
}
.news {
    margin: 20px;
    padding: 10px;
    -webkit-box-shadow: inset 0px 0px 24px 8px rgba(193,191,255,0.55);
    -moz-box-shadow: inset 0px 0px 24px 8px rgba(193,191,255,0.55);
    box-shadow: inset 0px 0px 24px 8px rgba(193,191,255,0.55);
}
.date{
    font-size: 10pt;
    color: #888888;
    font-style: italic;
}
#panel textarea {
    max-height: 150px;
}